body {
  font-family: 'League Spartan', sans-serif;
  background-color: #c1ebe2;
  padding-bottom: 3rem;
}

.navbar-collapse {
  justify-content: right;
}

.navbar {
    padding: 0rem 7rem !important;
    background-color: #2f5a62;

}

.nav-link {
  margin-right: 5rem;
  font-weight: bold;
  color: white;
}

.brandname {
  position: relative;
  top: 5px;
  font-weight: 600;
  color: white;
}

.div1 {
  padding: 1.2rem;
  border-radius: 0 0 5px 5px;
}

.selected{
  color: white !important;
}

.log-button {
    /* padding: 0; */
    border: none;
    background: none;
    font-weight: bold;
    color: white;
    position: relative;
    right: 6px;
    margin-top: 5px;
}

.nav-link:hover{
  color: #2f5a62 !important;
  background-color: white;
  border-radius: 8px;
}

.log-button:hover{
  color: #2f5a62 !important;
  background-color: white;
  height: 40px;
  border-radius: 8px;
}

.selected {
  color: #2f5a62 !important;
  background-color: white;
  border-radius: 8px;
}

/* minimized navbar button collapse */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

/* BODY PART : USER PROFILE */
.container {
  background-color: white;
  margin-top: 4rem;
  padding: 4rem;
}

.labelings {
  font-weight: bold;
  color: #2f5a62;
}

.information {
  font-weight: 400;
  color: #669591;
  position: relative;
  bottom: 10px;
}

/* REPORT PART */
h2 {
  font-weight: bold;
  color: #2f5a62;
  font-size: 25px;
  margin-bottom: 3rem;
}

.header {
  display: flex;
  justify-content: center;
}

.infodiv1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

textarea {
  resize: none;
}

/* SCRENESHOT BUTTON WITH HIDDEN CHOOSE FILE */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  top: 1rem;
  /* left: 14px; */
}


.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 100%;
  opacity: 0;
}

.upload-btn-wrapper input[type=file]:hover {
  cursor: pointer;
}

.ss-btn {
  background-color: #2f5a62;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border-radius: 6px 6px 6px 6px;
  position: relative;
  margin-top: 44px;
  border-width: 0;
}

.ss-btn:hover {
  background-color: #c1ebe2;
  cursor: pointer;
  color: #2f5a62;
}

.send-btn {
  background-color: #2f5a62;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border-radius: 6px 6px 6px 6px;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
    border-width: 0;
}

.send-btn:hover {
  background-color: #c1ebe2;
  cursor: pointer;
  color: #2f5a62;
}

/* MEDIA QUERY FOR NAV BAR */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
.log-button {
  margin-bottom: 1rem;
}

.navbar {
  padding: 0rem 4rem !important;
}

.navbar-nav {
  padding-left: 20px;
}

.form-btnn {
  padding-left: 20px;
}

}

@media only screen and (max-width: 570px) {
.brandname {
  font-size: 17px;
}

.navbar {
  padding: 0rem 2rem !important;
}


}

@media only screen and (max-width: 430px) {

  


}

@media only screen and (max-width: 380px) {
  .custom-toggler.navbar-toggler {
      width: 40px;
  }

  h2 {
    font-size: 23px;
  }

  .navbar {
    padding: 0rem 1rem !important;
  }

  .custom-toggler .navbar-toggler-icon {
    position: relative;
    right: 8.5px;
}

}

@media only screen and (max-width: 320px) {

  h2 {
      font-size: 15px;
  }
.brandname {
  font-size: 0px;
}
.navbar-nav .nav-link, .log-button {
    font-size: 13px;
}

.ss-btn {
  font-size: 11px;
}
}
/* CSS FOR BODY PART */


/* .container {
    display: grid !important;
    margin-top: 4rem;
    grid-gap: 50px;;
} */
